include CHANGES
include LICENSE.txt
include MANIFEST.in
include README.rst
include doc/examples/*.py
include doc/html/*.html
include doc/html/*.js
include doc/html/_static/*
include doc/html/objects.inv
include python2_6.patch
include tests/conftest.py
include tests/pytest.ini
include tests/test_*.py
